/*================== Common css start ==========================*/
*{
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;
}

ul,ol {
    list-style-type : none;
}

a {
    text-decoration : none;
}

h1,h2,h3,h4,h5,h6,p {
    line-height: 5%;
}

html {
    scroll-behavior : smooth;
    font-size   : 62.5%;
}
/*================== Common css end ==========================*/

/*========================= Navbar css start ==========================*/
#navbar {
    position    : absolute;
    top         : 0;
    left        : 0;
    width       : 100%;
    z-index     : 999;
}

.navbar-brand {
    margin-top: 5rem;
}

#navbar .navbar-nav {
    margin-top: 5.2rem;
}

#navbar .navbar-nav .nav-item {
   margin-left  : 3.2rem;
}

#navbar .navbar-nav .nav-item:first-child {
    margin-left  : 0;
}

#navbar .navbar-nav .nav-item .nav-link {
    font-family     : 'Titillium Web', sans-serif;
    font-weight     : 400;
    font-size       : 1.6rem;
    color           : #ffffff;
    text-transform  : uppercase;
    padding         : .3rem 1.4rem;
    display         : inline-block;
    border-radius   : .5rem;
    transition      : all linear .5s;
}

.bg_hover {
    background-color    : #643a79;
}

#navbar .navbar-nav .nav-item .nav-link:hover {
    background-color    : #643a79;
}
/*========================= Navbar css end ==========================*/

/*================== Banner css start ==========================*/
#banner {
    padding-top     : 26.4rem;
    padding-bottom  : 18.8rem;
}

.banner-header h1 {
    font-family : 'Titillium Web', sans-serif;
    font-weight : 700;
    font-size   : 4.8rem;
    color       : #f7f3ea;
    line-height : 6rem;
}

.banner-button {
    margin-top: 6.4rem;
}

.banner-button button {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 400;
    font-size           : 1.8rem;
    color               : #fff;
    line-height         : 2.6rem;
    padding             : 2.5rem 10rem;
    text-transform      : uppercase;
    background-color    : #eb7d4b;
    border              : none;
    outline             : none;
    cursor              : pointer;
    border-radius       : .5rem;
    border-bottom       : .5rem solid #c86a40;
    transition          : all linear .5s;
}

.banner-button button:hover {
    letter-spacing  : .1rem;
}
/*================== Banner css end ==========================*/

/*================== Service css start ==========================*/
#service {
    padding-top     : 14.4rem;
    padding-bottom  : 13.5rem;
}

#service .common-header h3 {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 700;
    font-size           : 4rem;
    color               : #fff;
    line-height         : 2.9rem;
    text-transform      : uppercase;
    position            : relative;
}

#service .common-header h3::after {
    background-color    : #14a58c;
    position            : absolute;
    content             : '';
    top                 : 6rem;
    left                : 50%;
    width               : 9rem;
    height              : .5rem;
    transform           : translate(-50%,-50%);
}

#service .common-header p {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 400;
    font-size           : 1.8rem;
    color               : #fff;
    line-height         : 2.6rem;
    margin-top          : 5.5rem;
    margin-bottom       : 10rem;
    padding: 0 3rem;
}

.cervice-items-content h4 {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 700;
    font-size           : 2.4rem;
    line-height         : 1.8;
    color               : #fff;
    text-transform      : uppercase;
    margin-top          : 6.2rem;
    margin-bottom       : 2rem;
}

.cervice-items-content p {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 300;
    font-size           : 1.6rem;
    line-height         : 2.4rem;
    color               : #fff;
    padding             : 0 5.8rem;
}
/*================== Service css end ==========================*/

/*================== Team css start ==========================*/
#team {
    padding-top: 15rem;
    padding-bottom: 15rem;
}

#team .common-header h3 {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 700;
    font-size           : 4rem;
    color               : #3c4761;
    line-height         : 2.9rem;
    text-transform      : uppercase;
    position            : relative;
}

#team .common-header h3::after {
    background-color    : #c8d9e5;
    position            : absolute;
    content             : '';
    top                 : 6rem;
    left                : 50%;
    width               : 9rem;
    height              : .5rem;
    transform           : translate(-50%,-50%);
}

#team .common-header p {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 400;
    font-size           : 1.8rem;
    color               : #3c4761;
    line-height         : 2.6rem;
    margin-top          : 5.5rem;
    margin-bottom       : 10rem;
}

.team-images img {
    width           : 20rem !important;
    height          : 20rem !important;
    border-radius   : 50%;
    overflow        : hidden;
    object-fit      : cover;
}

.team-content h5 {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 700;
    font-size           : 2.4rem;
    color               : #27283d;
    line-height         : 1.8rem;
    text-transform      : uppercase;
    margin-top          : 5rem;
    margin-bottom       : 1.5rem;
}

.team-content span {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 400;
    font-size           : 1.6rem;
    color               : #30bae7;
    line-height         : 1.8rem;
    text-transform      : uppercase;
    
}

.team-content p {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 400;
    font-size           : 1.6rem;
    color               : #3c4761;
    line-height         : 2.4rem;
    padding             : 0 5.5rem;
    margin-top          : 1rem;
    margin-bottom       : 3.5rem;
}

.oliva_p {
    padding : 0 5.6rem !important;
}

.ashley_p {
    padding : 0 5.6rem !important;
}

.team-social-link i {
    background-color    : #bdd1df;
    width               : 3.7rem;
    height              : 3.7rem;
    border-radius       : 50%;
    line-height         : 3.7rem;
    font-size           : 1.8rem;
    color               : #fff;
    margin              : 0 .5rem;
    transition          : all linear .5s;
}

.team-social-link i:hover {
    background-color    : #393939;
    transform           : rotate(360deg);
}
/*================== Team css end ==========================*/

/*================== Skill css end ==========================*/
#skill {
    padding-top         : 14.4rem;
    padding-bottom      : 12rem;
}


#skill .common-header h3 {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 700;
    font-size           : 4rem;
    color               : #3c4761;
    line-height         : 2.9rem;
    text-transform      : uppercase;
    position            : relative;
}

#skill .common-header h3::after {
    background-color    : #dfe8ed;
    position            : absolute;
    content             : '';
    top                 : 6rem;
    left                : 50%;
    width               : 9rem;
    height              : .5rem;
    transform           : translate(-50%,-50%);
}

#skill .common-header p {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 400;
    font-size           : 1.8rem;
    color               : #3c4761;
    line-height         : 2.6rem;
    margin-top          : 5.5rem;
    margin-bottom       : 10rem;
    padding             : 0 3rem;
}

.skill_bar_title h4 {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 800;
    font-size           : 2rem;
    color               : #3c4761;
    text-transform      : uppercase;
    margin-top          : 4rem;
}
/*================== Skill css end ==========================*/

/*================== portfolio css start ==========================*/
#portfolio {
    padding-top: 14.5rem;
    padding-bottom: 16.5rem;
}
#portfolio .common-header h3 {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 700;
    font-size           : 4rem;
    color               : #3c4761;
    line-height         : 2.9rem;
    text-transform      : uppercase;
    position            : relative;
}

#portfolio .common-header h3::after {
    background-color    : #e5c37f;
    position            : absolute;
    content             : '';
    top                 : 6rem;
    left                : 50%;
    width               : 9rem;
    height              : .5rem;
    transform           : translate(-50%,-50%);
}

#portfolio .common-header p {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 400;
    font-size           : 1.8rem;
    color               : #393939;
    line-height         : 2.6rem;
    margin-top          : 5.5rem;
    padding             : 0 3rem;
    margin-bottom       : 5rem;
}

.portfolio-button button {
    background-color    : #ebc985;
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 600;
    font-size           : 1.9rem;
    padding             : 1.3rem 3rem;
    color               : #393939;
    text-transform      : uppercase;
    border              : none;
    border-radius       : .5rem;
    transition          : all linear .3s;
    margin: 0 1rem;
}

.portfolio-button button:hover {
    cursor      : pointer;
    box-shadow  : inset 0 .3rem .7rem #111;
}

.portfolio-button .mixitup-control-active {
    background-color    : #fff;
}

.portfolio-button .mixitup-control-active:hover {
    box-shadow  : inset 0 .3rem .7rem #111;
}

.portfolio-items {
    margin-top  : 8rem;
}

.portfolio-items h4 {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 600;
    font-size           : 1.9rem;
    color               : #393939;
    text-transform      : uppercase;
    margin-top          : 5rem;
}

.portfolio-projects-btn {
    margin-top  : 12.5rem;
}

.portfolio-projects-btn a {
    background-color    : #17c2a4;
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 600;
    font-size           : 2.3rem;
    color               : #fff;
    text-transform      : uppercase;
    padding             : 2.5rem 6.8rem;
    border-radius       : .5rem;
    border-bottom       : .5rem solid #14a58c;
    transition          : all linear .3s;
}

.portfolio-projects-btn a:hover {
    letter-spacing  : .1rem;
}
/*================== Common css end ==========================*/

/*================== Common css end ==========================*/
#testimonial {
    padding-top     : 14.5rem;
    padding-bottom  : 16rem;
}
#testimonial .common-header h3 {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 700;
    font-size           : 4rem;
    color               : #fff;
    line-height         : 2.9rem;
    text-transform      : uppercase;
    position            : relative;
}

#testimonial .common-header h3::after {
    background-color    : #b73c6d;
    position            : absolute;
    content             : '';
    top                 : 6rem;
    left                : 50%;
    width               : 9rem;
    height              : .5rem;
    transform           : translate(-50%,-50%);
}

#testimonial .common-header p {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 400;
    font-size           : 1.8rem;
    color               : #fff;
    line-height         : 2.6rem;
    margin-top          : 5.5rem;
    padding             : 0 3rem;
    margin-bottom       : 6rem;
}

.testimonial-man img {
    border-radius   : 50%;
    width           : 10rem;
}

.testimonial-man-content {
    margin-left     : 5rem;
}

.testimonial-man-content em {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 400;
    font-size           : 2rem;
    color               : #fff;
    line-height         : 3rem;
   padding-right        : 6rem;
   display              : block;
}

.testimonial-man-content h4 {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 700;
    font-size           : 2.6rem;
    color               : #fff;
    text-transform      : uppercase;
    margin-top          : 4rem;
    margin-bottom       : 2rem;
}

.testimonial-man-content span {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 400;
    font-size           : 1.8rem;
    color               : #ffdd99;
}
/*================== Common css end ==========================*/

/*================== Contact css start ==========================*/
#contact {
    padding-top     : 15rem;
    padding-bottom  : 14.5rem;
}

#contact .common-header h3 {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 700;
    font-size           : 4rem;
    color               : #fff;
    line-height         : 2.9rem;
    text-transform      : uppercase;
    position            : relative;
}

#contact .common-header h3::after {
    background-color    : #273a71;
    position            : absolute;
    content             : '';
    top                 : 6rem;
    left                : 50%;
    width               : 9rem;
    height              : .5rem;
    transform           : translate(-50%,-50%);
}

#contact .common-header p {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 400;
    font-size           : 1.8rem;
    color               : #fff;
    line-height         : 2.6rem;
    margin-top          : 5.5rem;
    padding             : 0 3rem;
    margin-bottom       : 8.8rem;
}

.contact-from .name-input {
    background-color    : #273a71;
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 400;
    color               : #ffffff;
    font-size           : 1.8rem;
    text-transform      : capitaliz;
    width               : 41.5rem;
    margin-right        : 3.2rem;
    border              : none;
    outline             : none;
    padding             : 2rem 2.5rem;
    border-radius       : .5rem;
}

.contact-from .name-input::placeholder {
    font-family     : 'Titillium Web', sans-serif;
    font-weight     : 400;
    color           : #ffffff;
    font-size       : 1.8rem;
    text-transform  : capitalize;
}

.contact-from .email-input {
    background-color    : #273a71;
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 400;
    color               : #ffffff;
    font-size           : 1.8rem;
    text-transform      : capitaliz;
    width               : 41.5rem;
    border              : none;
    outline             : none;
    padding             : 2rem 2.5rem;
    border-radius       : .5rem;
    width               : 41.5rem;
}

.contact-from .email-input::placeholder {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 400;
    color               : #ffffff;
    font-size           : 1.8rem;
    text-transform      : capitalize;
}

.contact-from .text-area-input {
    background-color    : #273a71;
    margin-top          : 4rem;
    border-radius       : .5rem;
    padding             : 2.6rem 2.5rem;
    border              : 0;
    outline             : 0;
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 400;
    color               : #ffffff;
    font-size           : 1.8rem; 
    width               : 100%;
}

.contact-from .text-area-input::placeholder {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 400;
    color               : #ffffff;
    font-size           : 1.8rem; 
    text-transform      : capitalize;

}

.contac-btn button {
    background-color    : #30bae7;
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 600;
    font-size           : 2.3rem;
    color               : #fff;
    text-transform      : uppercase;
    padding             : 2.5rem 6.8rem;
    margin-top          : 6.5rem;
    border-radius       : .5rem;
    border              : 0;
    border-bottom       : .5rem solid #299ec5;
    transition          : all linear .5s;
}

.contac-btn button:hover {
    letter-spacing  : .1rem;
}
/*================== Contact css end ==========================*/

/*================== Footer css start ==========================*/
#footer {
    background-color    : #273a71;
    padding             : 5rem 0;
}

.footer-content a {
    font-family         : 'Titillium Web', sans-serif;
    font-weight         : 600;
    font-size           : 2.8rem;
    color               : #fff;
    text-transform      : capitalize;
    transition          : all linear .5s;
    margin-right        : 6rem;
}

.footer-content a:last-child {
    margin-right        : 0;
}

.footer-content a:hover {
    color   : #30bae7;
    letter-spacing: .1rem;
}
/*================== Footer css end ==========================*/